.buildings {
  display: block;
  border: none;
  border: solid 5px white;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.me {
  display: block;
  border: none;
  border: solid 5px var(--accent);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.mapboxgl-ctrl {
  opacity: 0;
}

.more-text {
  padding: 12px 16px;
}

.more-img {
  object-fit: cover;
  width: 100%;
  display: flex;
}
